# virtualenv
.venv
pyenv.cfg

# secrets
api_key.json
.env

# artifacts
all_videos.json
reviews.csv

# misc
.ipynb_checkpoints
.spyproject
.DS_Store
.vscode
__pycache__
submission
tnd-reviews

# node
node_modules
