# virtualenv
.venv
pyenv.cfg

# secrets
api_key.json

# artifacts
# data
# all_videos.json
# reviews.csv
# reviews.json

# misc
.ipynb_checkpoints
.spyproject
.DS_Store
.vscode
__pycache__
submission

